/* 1.0.44
Version History:
  1.0.44 (2015-02-02)
    1) Now with unix-style line endings

  (Older version history in labels.txt)
*/
.lbl_actions{
  background-position:-22px 0; width:11px; height:46px;
}
.lbl_active{
  background-position:-33px 0; width:11px; height:39px;
}
.lbl_button_spacing{
  background-position:-44px 0; width:11px; height:100px;
}
.lbl_PEACH_important{
  background-position:-55px 0; width:11px; height:65px;
}
.lbl_archive{
  background-position:-66px 0; width:11px; height:48px;
}
.lbl_attended{
  background-position:-77px 0; width:11px; height:57px;
}
.lbl_GREEN-num-attenders{
  background-position:-88px 0; width:11px; height:82px;
}
.lbl_background-colour{
  background-position:-110px 0; width:22px; height:75px;
}
.lbl_buttons{
  background-position:-121px 0; width:11px; height:47px;
}
.lbl_copy{
  background-position:-132px 0; width:11px; height:30px;
}
.lbl_sort-a-z{
  background-position:-143px 0; width:11px; height:52px;
}
.lbl_default-width{
  background-position:-154px 0; width:22px; height:46px;
}
.lbl_delete{
  background-position:-176px 0; width:11px; height:40px;
}
.lbl_num-relationships{
  background-position:-187px 0; width:11px; height:97px;
}
.lbl_GREEN-passwords{
  background-position:-198px 0; width:11px; height:79px;
}
.lbl_GREEN-num-email-recipients{
  background-position:-209px 0; width:22px; height:100px;
}
.lbl_enabled{
  background-position:-231px 0; width:11px; height:50px;
}
.lbl_export{
  background-position:-242px 0; width:11px; height:42px;
}
.lbl_num-related-products{
  background-position:-253px 0; width:22px; height:67px;
}
.lbl_locked{
  background-position:-275px 0; width:11px; height:44px;
}
.lbl_GREEN-locked{
  background-position:-286px 0; width:11px; height:44px;
}
.lbl_clone{
  background-position:-297px 0; width:11px; height:34px;
}
.lbl_member-type{
  background-position:-319px 0; width:11px; height:87px;
}
.lbl_GREEN-num-members-with-site-access{
  background-position:-330px 0; width:22px; height:100px;
}
.lbl_edit-membership{
  background-position:-352px 0; width:22px; height:78px;
}
.lbl_membership-rules{
  background-position:-374px 0; width:22px; height:78px;
}
.lbl_qb-ident{
  background-position:-396px 0; width:11px; height:55px;
}
.lbl_PINK-is-recurrence{
  background-position:-407px 0; width:11px; height:89px;
}
.lbl_orientation{
  background-position:-418px 0; width:11px; height:100px;
}
.lbl_PINK-num-recurrences{
  background-position:-429px 0; width:11px; height:88px;
}
.lbl_navsuites{
  background-position:-440px 0; width:11px; height:62px;
}
.lbl_no-email{
  background-position:-451px 0; width:11px; height:55px;
}
.lbl_num-notes{
  background-position:-462px 0; width:11px; height:44px;
}
.lbl_popup{
  background-position:-473px 0; width:11px; height:38px;
}
.lbl_post-expiry-notice-days{
  background-position:-484px 0; width:11px; height:74px;
}
.lbl_pre-expiry-notice-days{
  background-position:-506px 0; width:22px; height:73px;
}
.lbl_qb-name{
  background-position:-528px 0; width:11px; height:56px;
}
.lbl_YELLOW-num-sponsor-plans{
  background-position:-539px 0; width:22px; height:61px;
}
.lbl_register{
  background-position:-561px 0; width:11px; height:53px;
}
.lbl_GREEN-num-registrants{
  background-position:-572px 0; width:11px; height:82px;
}
.lbl_num-sponsors{
  background-position:-584px 0; width:11px; height:67px;
}
.lbl_booking-num{
  background-position:-595px 0; width:11px; height:87px;
}
.lbl_renewal-date{
  background-position:-605px 0; width:22px; height:52px;
}
.lbl_num-report-columns{
  background-position:-627px 0; width:22px; height:53px;
}
.lbl_sent{
  background-position:-649px 0; width:11px; height:64px;
}
.lbl_language{
  background-position:-660px 0; width:11px; height:61px;
}
.lbl_language-parent{
  background-position:-671px 0; width:22px; height:61px;
}
.lbl_table-border{
  background-position:-693px 0; width:22px; height:43px;
}
.lbl_table-data{
  background-position:-715px 0; width:22px; height:34px;
}
.lbl_table-header{
  background-position:-737px 0; width:22px; height:46px;
}
.lbl_PINK-main-text-font{
  background-position:-759px 0; width:11px; height:100px;
}
.lbl_PINK-main-text-size{
  background-position:-770px 0; width:11px; height:100px;
}
.lbl_PINK-main-text-h-align{
  background-position:-781px 0; width:22px; height:100px;
}
.lbl_PINK-main-text-offset-x-px{
  background-position:-803px 0; width:22px; height:100px;
}
.lbl_PINK-main-text-offset-y-px{
  background-position:-825px 0; width:22px; height:100px;
}
.lbl_PINK-main-text-active{
  background-position:-847px 0; width:22px; height:100px;
}
.lbl_PINK-main-text-down{
  background-position:-869px 0; width:22px; height:100px;
}
.lbl_PINK-main-text-normal{
  background-position:-891px 0; width:22px; height:100px;
}
.lbl_PINK-main-text-over{
  background-position:-913px 0; width:22px; height:100px;
}
.lbl_PINK-main-text-uppercase{
  background-position:-935px 0; width:22px; height:100px;
}
.lbl_GREEN-groups-list{
  background-position:-957px 0; width:11px; height:73px;
}
.lbl_total{
  background-position:-968px 0; width:11px; height:32px;
}
.lbl_GREEN-num-members-total{
  background-position:-979px 0; width:22px; height:100px;
}
.lbl_PEACH-num-emails-sent{
  background-position:-1001px 0; width:11px; height:84px;
}
.lbl_unapproved{
  background-position:-1012px 0; width:11px; height:87px;
}
.lbl_is_a_number{
  background-position:-1023px 0; width:11px; height:79px;
}
.lbl_row_num{
  background-position:-1034px 0; width:11px; height:37px;
}
.lbl_show_always{
  background-position:-1045px 0; width:11px; height:82px;
}
.lbl_width_px{
  background-position:-1056px 0; width:11px; height:67px;
}
.lbl_PEACH-extra-text-uppercase{
  background-position:-1067px 0; width:22px; height:100px;
}
.lbl_PEACH-tax-code{
  background-position:-1089px 0; width:11px; height:60px;
}
.lbl_PEACH-shared{
  background-position:-1100px 0; width:11px; height:44px;
}
.lbl_PEACH-num-groups{
  background-position:-1111px 0; width:11px; height:53px;
}
.lbl_text-headings{
  background-position:-1122px 0; width:22px; height:58px;
}
.lbl_tax-benefit-1{
  background-position:-1144px 0; width:11px; height:85px;
}
.lbl_tax-benefit-2{
  background-position:-1155px 0; width:11px; height:85px;
}
.lbl_tax-benefit-3{
  background-position:-1166px 0; width:11px; height:85px;
}
.lbl_tax-benefit-4{
  background-position:-1177px 0; width:11px; height:85px;
}
.lbl_is-a-header{
  background-position:-1188px 0; width:11px; height:75px;
}
.lbl_sequence{
  background-position:-1199px 0; width:11px; height:60px;
}
.lbl_items{
  background-position:-1210px 0; width:11px; height:36px;
}
.lbl_PEACH-num-notes{
  background-position:-1221px 0; width:11px; height:44px;
}
.lbl_database-version{
  background-position:-1232px 0; width:22px; height:59px;
}
.lbl_database-checksum-target{
  background-position:-1254px 0; width:33px; height:64px;
}
.lbl_PEACH-num-event-registrations{
  background-position:-1287px 0; width:22px; height:93px;
}
.lbl_custom-tables-for-export{
  background-position:-1309px 0; width:22px; height:93px;
}
.lbl_PEACH-num-cases{
  background-position:-1331px 0; width:11px; height:45px;
}
.lbl_closed{
  background-position:-1342px 0; width:11px; height:41px;
}
.lbl_PEACH-num-case-tasks{
  background-position:-1353px 0; width:11px; height:80px;
}
.lbl_tasks{
  background-position:-1364px 0; width:11px; height:37px;
}
.lbl_tasks-open{
  background-position:-1375px 0; width:11px; height:74px;
}
.lbl_tasks-closed{
  background-position:-1386px 0; width:11px; height:84px;
}
.lbl_PEACH-num-logins{
  background-position:-1397px 0; width:11px; height:49px;
}
.lbl_rendered-width-px{
  background-position:-1408px 0; width:22px; height:67px;
}
.lbl_rendered-height-px{
  background-position:-1430px 0; width:22px; height:72px;
}
.lbl_map-quality{
  background-position:-1452px 0; width:11px; height:75px;
}
.lbl_num-task{
  background-position:-1463px 0; width:11px; height:43px;
}
.lbl_LILAC-num-block-layouts{
  background-position:-1474px 0; width:11px; height:98px;
}
.lbl_CYAN-num-buttons{
  background-position:-1485px 0; width:11px; height:57px;
}
.lbl_CYAN-num-button-styles{
  background-position:-1496px 0; width:11px; height:94px;
}
.lbl_CYAN-num-button-suites{
  background-position:-1507px 0; width:11px; height:94px;
}
.lbl_YELLOW-num-events{
  background-position:-1518px 0; width:11px; height:52px;
}
.lbl_GREEN-num-contacts{
  background-position:-1529px 0; width:11px; height:64px;
}
.lbl_YELLOW-num-job-postings{
  background-position:-1540px 0; width:11px; height:90px;
}
.lbl_YELLOW-num-news-items{
  background-position:-1551px 0; width:11px; height:84px;
}
.lbl_YELLOW-num-pages{
  background-position:-1562px 0; width:11px; height:47px;
}
.lbl_GREEN-num-persons{
  background-position:-1573px 0; width:11px; height:60px;
}
.lbl_LILAC-num-layouts{
  background-position:-1584px 0; width:11px; height:59px;
}
.lbl_GREEN-num-users{
  background-position:-1595px 0; width:11px; height:45px;
}
.lbl_YELLOW-used-for-pages{
  background-position:-1606px 0; width:11px; height:96px;
}
.lbl_YELLOW-used-for-sites{
  background-position:-1617px 0; width:11px; height:89px;
}
.lbl_YELLOW-used-internally{
  background-position:-1628px 0; width:11px; height:99px;
}
.lbl_debug{
  background-position:-1639px 0; width:11px; height:39px;
}
.lbl_log-level{
  background-position:-1650px 0; width:11px; height:60px;
}
.lbl_PEACH-num-orders{
  background-position:-1661px 0; width:11px; height:52px;
}
.lbl_num-sold{
  background-position:-1672px 0; width:11px; height:39px;
}
.lbl_PEACH-num-products{
  background-position:-1716px 0; width:11px; height:68px;
}
.lbl_YELLOW-submenu-x-offset{
  background-position:-1727px 0; width:22px; height:59px;
}
.lbl_YELLOW-submenu-y-offset{
  background-position:-1749px 0; width:22px; height:59px;
}
.lbl_YELLOW-submenu-indicator-style{
  background-position:-1771px 0; width:22px; height:96px;
}
.lbl_YELLOW-submenu-button-style{
  background-position:-1793px 0; width:22px; height:78px;
}
.lbl_CYAN-overlay-image-first-button{
  background-position:-1815px 0; width:22px; height:96px;
}
.lbl_CYAN-overlay-align-first-button{
  background-position:-1837px 0; width:22px; height:87px;
}
.lbl_CYAN-overlay-image-last-button{
  background-position:-1859px 0; width:22px; height:96px;
}
.lbl_CYAN-overlay-align-last-button{
  background-position:-1881px 0; width:22px; height:87px;
}
.lbl_has-map{
  background-position:-1903px 0; width:11px; height:53px;
}
.lbl_process-map{
  background-position:-1914px 0; width:11px; height:80px;
}
.lbl_get-card-info{
  background-position:-1925px 0; width:11px; height:85px;
}
.lbl_offline-process{
  background-position:-1936px 0; width:11px; height:96px;
}
.lbl_surcharge-pc{
  background-position:-1947px 0; width:11px; height:83px;
}
.lbl_pays-in-full{
  background-position:-1958px 0; width:11px; height:75px;
}
.lbl_failed{
  background-position:-1969px 0; width:11px; height:38px;
}
.lbl_CYAN-overlay-image-mid-buttons{
  background-position:-1980px 0; width:22px; height:96px;
}
.lbl_CYAN-overlay-align-mid-buttons{
  background-position:-2002px 0; width:22px; height:87px;
}
.lbl_items-cost-pre-tax{
  background-position:-2024px 0; width:22px; height:69px;
}
.lbl_sub-total-with-tax{
  background-position:-2046px 0; width:22px; height:63px;
}
.lbl_shipping{
  background-position:-2068px 0; width:11px; height:54px;
}
.lbl_pay-method-surcharge{
  background-position:-2079px 0; width:22px; height:73px;
}
.lbl_grand-total{
  background-position:-2101px 0; width:11px; height:74px;
}
.lbl_actions-processed{
  background-position:-2112px 0; width:22px; height:65px;
}
.lbl_view-pdf{
  background-position:-2134px 0; width:11px; height:57px;
}
.lbl_non-refundable-amount{
  background-position:-2145px 0; width:33px; height:71px;
}
.lbl_net-cost{
  background-position:-2178px 0; width:11px; height:53px;
}
.lbl_quantity{
  background-position:-2189px 0; width:11px; height:53px;
}
.lbl_unit-cost{
  background-position:-2200px 0; width:11px; height:57px;
}
.lbl_refund-awarded{
  background-position:-2233px 0; width:22px; height:55px;
}
.lbl_refund-status{
  background-position:-2255px 0; width:22px; height:43px;
}
.lbl_changes{
  background-position:-2277px 0; width:11px; height:53px;
}
.lbl_YELLOW-for-schedule{
  background-position:-2288px 0; width:11px; height:83px;
}
.lbl_num-items{
  background-position:-2299px 0; width:11px; height:49px;
}
.lbl_num-products{
  background-position:-2310px 0; width:11px; height:68px;
}
.lbl_credit-memo-issued{
  background-position:-2332px 0; width:22px; height:79px;
}
.lbl_GREEN-email-recipient{
  background-position:-2354px 0; width:11px; height:100px;
}
.lbl_GREEN-email-opt-in{
  background-position:-2365px 0; width:11px; height:78px;
}
.lbl_GREEN-email-opt-out{
  background-position:-2376px 0; width:11px; height:87px;
}
.lbl_GREEN-public{
  background-position:-2387px 0; width:11px; height:37px;
}
.lbl_GREEN-site-user{
  background-position:-2398px 0; width:11px; height:58px;
}
.lbl_GREEN-site-member{
  background-position:-2409px 0; width:11px; height:80px;
}
.lbl_GREEN-site-editor{
  background-position:-2420px 0; width:11px; height:67px;
}
.lbl_GREEN-site-approver{
  background-position:-2431px 0; width:11px; height:89px;
}
.lbl_GREEN-site-admin{
  background-position:-2442px 0; width:11px; height:68px;
}
.lbl_GREEN-group-viewer{
  background-position:-2453px 0; width:11px; height:86px;
}
.lbl_GREEN-group-editor{
  background-position:-2464px 0; width:11px; height:81px;
}
.lbl_GREEN-user-admin{
  background-position:-2475px 0; width:11px; height:73px;
}
.lbl_GREEN-comm-admin{
  background-position:-2486px 0; width:11px; height:87px;
}
.lbl_GREEN-master-admin{
  background-position:-2497px 0; width:11px; height:87px;
}
.lbl_GREEN-num-groups{
  background-position:-2508px 0; width:11px; height:54px;
}
.lbl_GREEN-shared{
  background-position:-2519px 0; width:11px; height:44px;
}
.lbl_refund-transaction-code{
  background-position:-2530px 0; width:33px; height:76px;
}
.lbl_YELLOW-num-admins{
  background-position:-2563px 0; width:11px; height:55px;
}
.lbl_YELLOW-num-articles{
  background-position:-2574px 0; width:11px; height:58px;
}
.lbl_LILAC-num-components{
  background-position:-2585px 0; width:11px; height:87px;
}
.lbl_LILAC-num-content-blks{
  background-position:-2596px 0; width:11px; height:88px;
}
.lbl_YELLOW-num-custom-forms{
  background-position:-2607px 0; width:11px; height:99px;
}
.lbl_PINK-num-mail-identities{
  background-position:-2618px 0; width:11px; height:100px;
}
.lbl_PINK-num-mail-template{
  background-position:-2629px 0; width:11px; height:100px;
}
.lbl_LILAC-num-ecl-tags{
  background-position:-2640px 0; width:11px; height:66px;
}
.lbl_YELLOW-num-surveys{
  background-position:-2651px 0; width:11px; height:59px;
}
.lbl_YELLOW-num-polls{
  background-position:-2662px 0; width:11px; height:39px;
}
.lbl_PEACH-num-credit-memos{
  background-position:-2673px 0; width:11px; height:96px;
}
.lbl_YELLOW-num-podcasts{
  background-position:-2684px 0; width:11px; height:66px;
}
.lbl_LILAC-num-themes{
  background-position:-2695px 0; width:11px; height:59px;
}
.lbl_allow-comments{
  background-position:-2706px 0; width:22px; height:66px;
}
.lbl_num-comments{
  background-position:-2728px 0; width:11px; height:75px;
}
.lbl_YELLOW-num-pending{
  background-position:-2739px 0; width:11px; height:59px;
}
.lbl_YELLOW-for-email{
  background-position:-2761px 0; width:11px; height:60px;
}
.lbl_YELLOW-for-layout{
  background-position:-2772px 0; width:11px; height:69px;
}
.lbl_YELLOW-for-page{
  background-position:-2783px 0; width:11px; height:56px;
}
.lbl_YELLOW-for-report{
  background-position:-2750px 0; width:11px; height:68px;
}
.lbl_YELLOW-nameable{
  background-position:-2794px 0; width:11px; height:63px;
}
.lbl_YELLOW-num-sent{
  background-position:-2805px 0; width:11px; height:38px;
}
.lbl_include-title-as-heading{
  background-position:-2816px 0; width:22px; height:81px;
}
.lbl_YELLOW-num-read{
  background-position:-2838px 0; width:11px; height:40px;
}
.lbl_YELLOW-num-podcast-albums{
  background-position:-2849px 0; width:11px; height:94px;
}
.lbl_PINK-series-description{
  background-position:-2860px 0; width:22px; height:72px;
}
.lbl_votes-cast{
  background-position:-2882px 0; width:11px; height:67px;
}
.lbl_voter-supplied{
  background-position:-2893px 0; width:11px; height:93px;
}
.lbl_choices-in-random-order{
  background-position:-2904px 0; width:22px; height:92px;
}
.lbl_YELLOW-num-gallery-albums{
  background-position:-2926px 0; width:11px; height:84px;
}
.lbl_YELLOW-num-gallery-images{
  background-position:-2937px 0; width:11px; height:85px;
}
.lbl_YELLOW-num-failed{
  background-position:-2948px 0; width:11px; height:48px;
}
.lbl_usage{
  background-position:-2959px 0; width:11px; height:52px;
}
.lbl_num-bounces{
  background-position:-2970px 0; width:11px; height:64px;
}
.lbl_border{
  background-position:-2981px 0; width:22px; height:80px;
}
.lbl_current-weekdays{
  background-position:-3003px 0; width:22px; height:80px;
}
.lbl_current-weekends{
  background-position:-3025px 0; width:22px; height:80px;
}
.lbl_day-headings{
  background-position:-3047px 0; width:22px; height:80px;
}
.lbl_event-date{
  background-position:-3069px 0; width:22px; height:80px;
}
.lbl_heading{
  background-position:-3091px 0; width:22px; height:80px;
}
.lbl_inactive-weekdays{
  background-position:-3113px 0; width:22px; height:80px;
}
.lbl_inactive-weekends{
  background-position:-3135px 0; width:22px; height:80px;
}
.lbl_today{
  background-position:-3157px 0; width:22px; height:80px;
}
.lbl_when-applied{
  background-position:-3190px 0; width:22px; height:69px;
}
.lbl_max-sequence{
  background-position:-3212px 0; width:11px; height:57px;
}
.lbl_allow-ratings{
  background-position:-3223px 0; width:22px; height:46px;
}
.lbl_YELLOW-for-action{
  background-position:-3245px 0; width:11px; height:65px;
}
.lbl_can-subscribe{
  background-position:-3256px 0; width:11px; height:90px;
}
.lbl_bg-colour{
  background-position:-3278px 0; width:11px; height:62px;
}
.lbl_text-colour{
  background-position:-3289px 0; width:11px; height:75px;
}
.lbl_show-scores{
  background-position:-3311px 0; width:22px; height:42px;
}
.lbl_max-votes-per-ballot{
  background-position:-3333px 0; width:22px; height:65px;
}
.lbl_show-descriptions{
  background-position:-3355px 0; width:22px; height:79px;
}
.lbl_required-feature-inv{
  background-position:-3388px 0; width:11px; height:79px;
}
.lbl_mark-as-correct{
  background-position:-3443px 0; width:11px; height:88px;
}
.lbl_responses{
  background-position:-3465px 0; width:11px; height:67px;
}
.lbl_choices{
  background-position:-3476px 0; width:11px; height:48px;
}
.lbl_ticket-template{
  background-position:-3498px 0; width:22px; height:59px;
}
.lbl_survey-blocks{
  background-position:-3531px 0; width:22px; height:44px;
}
.lbl_required{
  background-position:-3564px 0; width:11px; height:56px;
}
.lbl_payment-approved{
  background-position:-3586px 0; width:22px; height:62px;
}
.lbl_amount-paid{
  background-position:-3608px 0; width:11px; height:81px;
}
.lbl_num-actions{
  background-position:-3619px 0; width:11px; height:59px;
}
.lbl_background-image{
  background-position:-3641px 0; width:22px; height:75px;
}
.lbl_background-image-h-align{
  background-position:-3662px 0; width:22px; height:90px;
}
.lbl_foreground-image{
  background-position:-3684px 0; width:22px; height:74px;
}
.lbl_foreground-image-h-align{
  background-position:-3706px 0; width:22px; height:90px;
}
.lbl_payment-status-post-process{
  background-position:-3740px 0; width:22px; height:100px;
}
.lbl_random-pwd{
  background-position:-3762px 0; width:11px; height:80px;
}
.lbl_stationery{
  background-position:-3773px 0; width:11px; height:66px;
}
.lbl_content-zones{
  background-position:-3784px 0; width:11px; height:91px;
}
.lbl_YELLOW-compliance{
  background-position:-3806px 0; width:11px; height:73px;
}
.lbl_YELLOW-min-partners{
  background-position:-3817px 0; width:11px; height:80px;
}
.lbl_YELLOW-num-partners{
  background-position:-3828px 0; width:11px; height:63px;
}
.lbl_YELLOW-num-members{
  background-position:-3839px 0; width:11px; height:67px;
}
.lbl_YELLOW-num-communities{
  background-position:-3850px 0; width:11px; height:91px;
}
.lbl_tax-1{
  background-position:-3861px 0; width:11px; height:43px;
}
.lbl_tax-2{
  background-position:-3872px 0; width:11px; height:43px;
}
.lbl_tax-3{
  background-position:-3883px 0; width:11px; height:43px;
}
.lbl_tax-4{
  background-position:-3894px 0; width:11px; height:43px;
}
.lbl_tax-5{
  background-position:-3905px 0; width:11px; height:43px;
}
.lbl_tax-6{
  background-position:-3916px 0; width:11px; height:43px;
}
.lbl_tax-7{
  background-position:-3927px 0; width:11px; height:43px;
}
.lbl_tax-8{
  background-position:-3938px 0; width:11px; height:43px;
}
.lbl_tax-9{
  background-position:-3949px 0; width:11px; height:43px;
}
.lbl_tax-10{
  background-position:-3960px 0; width:11px; height:43px;
}
.lbl_tax-11{
  background-position:-3971px 0; width:11px; height:43px;
}
.lbl_tax-12{
  background-position:-3982px 0; width:11px; height:43px;
}
.lbl_tax-13{
  background-position:-3993px 0; width:11px; height:43px;
}
.lbl_tax-14{
  background-position:-4004px 0; width:11px; height:43px;
}
.lbl_tax-15{
  background-position:-4015px 0; width:11px; height:43px;
}
.lbl_tax-16{
  background-position:-4026px 0; width:11px; height:43px;
}
.lbl_tax-17{
  background-position:-4037px 0; width:11px; height:43px;
}
.lbl_tax-18{
  background-position:-4048px 0; width:11px; height:43px;
}
.lbl_tax-19{
  background-position:-4059px 0; width:11px; height:43px;
}
.lbl_tax-20{
  background-position:-4070px 0; width:11px; height:43px;
}
.lbl_PEACH-extra-text-font{
  background-position:-4081px 0; width:11px; height:100px;
}
.lbl_PEACH-extra-text-size{
  background-position:-4092px 0; width:11px; height:97px;
}
.lbl_PEACH-extra-text-h-align{
  background-position:-4103px 0; width:22px; height:67px;
}
.lbl_PEACH-extra-text-offset-x-px{
  background-position:-4125px 0; width:22px; height:82px;
}
.lbl_PEACH-extra-text-offset-y-px{
  background-position:-4147px 0; width:22px; height:82px;
}
.lbl_PEACH-extra-text-active{
  background-position:-4169px 0; width:22px; height:67px;
}
.lbl_PEACH-extra-text-down{
  background-position:-4191px 0; width:22px; height:67px;
}
.lbl_PEACH-extra-text-normal{
  background-position:-4213px 0; width:22px; height:67px;
}
.lbl_PEACH-extra-text-over{
  background-position:-4235px 0; width:22px; height:67px;
}
.lbl_num-albums{
  background-position:-4257px 0; width:11px; height:56px;
}
.lbl_num-images{
  background-position:-4268px 0; width:11px; height:57px;
}
.lbl_num-podcasts{
  background-position:-4279px 0; width:11px; height:66px;
}
.lbl_tbl_action{
  background-position:-4290px 0; width:11px; height:100px;
}
.lbl_tbl_activity{
  background-position:-4301px 0; width:11px; height:100px;
}
.lbl_tbl_block_layout{
  background-position:-4312px 0; width:11px; height:100px;
}
.lbl_tbl_case_tasks{
  background-position:-4323px 0; width:11px; height:100px;
}
.lbl_tbl_cases{
  background-position:-4334px 0; width:11px; height:100px;
}
.lbl_tbl_category_assign{
  background-position:-4345px 0; width:11px; height:100px;
}
.lbl_tbl_colour_scheme{
  background-position:-4356px 0; width:11px; height:100px;
}
.lbl_tbl_comment{
  background-position:-4367px 0; width:11px; height:100px;
}
.lbl_tbl_community{
  background-position:-4378px 0; width:11px; height:100px;
}
.lbl_tbl_community_member{
  background-position:-4389px 0; width:11px; height:100px;
}
.lbl_tbl_community_membership{
  background-position:-4400px 0; width:11px; height:100px;
}
.lbl_tbl_community_sponsor_plan{
  background-position:-4411px 0; width:11px; height:100px;
}
.lbl_tbl_component{
  background-position:-4422px 0; width:11px; height:100px;
}
.lbl_tbl_content_block{
  background-position:-4433px 0; width:11px; height:100px;
}
.lbl_tbl_custom_form{
  background-position:-4444px 0; width:11px; height:100px;
}
.lbl_tbl_ecl_tags{
  background-position:-4455px 0; width:11px; height:100px;
}
.lbl_tbl_field_templates{
  background-position:-4466px 0; width:11px; height:100px;
}
.lbl_tbl_gateway_settings{
  background-position:-4477px 0; width:11px; height:100px;
}
.lbl_tbl_gateway_type{
  background-position:-4488px 0; width:11px; height:100px;
}
.lbl_tbl_group_assign{
  background-position:-4499px 0; width:11px; height:100px;
}
.lbl_tbl_group_members{
  background-position:-4510px 0; width:11px; height:100px;
}
.lbl_tbl_groups{
  background-position:-4521px 0; width:11px; height:100px;
}
.lbl_tbl_keyword_assign{
  background-position:-4532px 0; width:11px; height:100px;
}
.lbl_tbl_keywords{
  background-position:-4543px 0; width:11px; height:100px;
}
.lbl_tbl_layout{
  background-position:-4554px 0; width:11px; height:100px;
}
.lbl_tbl_listdata{
  background-position:-4565px 0; width:11px; height:100px;
}
.lbl_tbl_listtype{
  background-position:-4576px 0; width:11px; height:100px;
}
.lbl_tbl_mailidentity{
  background-position:-4587px 0; width:11px; height:100px;
}
.lbl_tbl_mailqueue{
  background-position:-4598px 0; width:11px; height:100px;
}
.lbl_tbl_mailqueue_item{
  background-position:-4609px 0; width:11px; height:100px;
}
.lbl_tbl_mailtemplate{
  background-position:-4620px 0; width:11px; height:100px;
}
.lbl_tbl_membership_rule{
  background-position:-4631px 0; width:11px; height:100px;
}
.lbl_tbl_navbuttons{
  background-position:-4642px 0; width:11px; height:100px;
}
.lbl_tbl_navstyle{
  background-position:-4653px 0; width:11px; height:100px;
}
.lbl_tbl_navsuite{
  background-position:-4664px 0; width:11px; height:100px;
}
.lbl_tbl_order_items{
  background-position:-4675px 0; width:11px; height:100px;
}
.lbl_tbl_orders{
  background-position:-4686px 0; width:11px; height:100px;
}
.lbl_tbl_pages{
  background-position:-4697px 0; width:11px; height:100px;
}
.lbl_tbl_payment_method{
  background-position:-4708px 0; width:11px; height:100px;
}
.lbl_tbl_person{
  background-position:-4719px 0; width:11px; height:100px;
}
.lbl_tbl_poll{
  background-position:-4730px 0; width:11px; height:100px;
}
.lbl_tbl_poll_choice{
  background-position:-4741px 0; width:11px; height:100px;
}
.lbl_tbl_postings{
  background-position:-4752px 0; width:11px; height:100px;
}
.lbl_tbl_product{
  background-position:-4763px 0; width:11px; height:100px;
}
.lbl_tbl_product_grouping{
  background-position:-4774px 0; width:11px; height:100px;
}
.lbl_tbl_product_relationship{
  background-position:-4785px 0; width:11px; height:100px;
}
.lbl_tbl_registerevent{
  background-position:-4796px 0; width:11px; height:100px;
}
.lbl_tbl_report{
  background-position:-4807px 0; width:11px; height:100px;
}
.lbl_tbl_report_columns{
  background-position:-4818px 0; width:11px; height:100px;
}
.lbl_tbl_report_defaults{
  background-position:-4829px 0; width:11px; height:100px;
}
.lbl_tbl_report_filter{
  background-position:-4840px 0; width:11px; height:100px;
}
.lbl_tbl_report_filter_criteria{
  background-position:-4851px 0; width:11px; height:100px;
}
.lbl_tbl_report_settings{
  background-position:-4862px 0; width:11px; height:100px;
}
.lbl_tbl_scheduled_task{
  background-position:-4873px 0; width:11px; height:100px;
}
.lbl_tbl_tax_regime{
  background-position:-4884px 0; width:11px; height:100px;
}
.lbl_tbl_tax_rule{
  background-position:-4895px 0; width:11px; height:100px;
}
.lbl_tbl_tax_zone{
  background-position:-4906px 0; width:11px; height:100px;
}
.lbl_tbl_theme{
  background-position:-4917px 0; width:11px; height:100px;
}
.lbl_tbl_treenode{
  background-position:-4928px 0; width:11px; height:100px;
}
.lbl_tbl_widget{
  background-position:-4939px 0; width:11px; height:100px;
}
.lbl_eye-description{
  background-position:-4950px 0; width:11px; height:83px;
}
.lbl_eye-logo{
  background-position:-4961px 0; width:11px; height:40px;
}
.lbl_eye-name{
  background-position:-4972px 0; width:11px; height:46px;
}
.lbl_eye-telephone{
  background-position:-4983px 0; width:11px; height:78px;
}
.lbl_eye-website{
  background-position:-4994px 0; width:11px; height:61px;
}
.lbl_where-community{
  background-position:-5005px 0; width:11px; height:82px;
}
.lbl_where-community-map{
  background-position:-5016px 0; width:11px; height:79px;
}
.lbl_where-members{
  background-position:-5027px 0; width:11px; height:68px;
}
.lbl_where-newsletters{
  background-position:-5038px 0; width:11px; height:86px;
}
.lbl_YELLOW-num-actions{
  background-position:-5049px 0; width:11px; height:55px;
}
.lbl_YELLOW-num-pages-pre{
  background-position:-5060px 0; width:11px; height:84px;
}
.lbl_YELLOW-num-pages-post{
  background-position:-5071px 0; width:11px; height:90px;
}
.lbl_YELLOW-num-report-frm{
  background-position:-5082px 0; width:11px; height:92px;
}
.lbl_YELLOW-num-report-rpt{
  background-position:-5093px 0; width:11px; height:87px;
}
.lbl_YELLOW-num-schedule{
  background-position:-5104px 0; width:11px; height:66px;
}
.lbl_CYAN-privacy-home-addr{
  background-position:-5115px 0; width:11px; height:80px;
}
.lbl_CYAN-privacy-home-cell{
  background-position:-5126px 0; width:11px; height:72px;
}
.lbl_CYAN-privacy-home-email{
  background-position:-5137px 0; width:11px; height:84px;
}
.lbl_CYAN-privacy-home-phone{
  background-position:-5148px 0; width:11px; height:88px;
}
.lbl_CYAN-privacy-home-web{
  background-position:-5159px 0; width:11px; height:76px;
}
.lbl_CYAN-privacy-work-addr{
  background-position:-5170px 0; width:11px; height:77px;
}
.lbl_CYAN-privacy-work-cell{
  background-position:-5181px 0; width:11px; height:69px;
}
.lbl_CYAN-privacy-work-email{
  background-position:-5192px 0; width:11px; height:81px;
}
.lbl_CYAN-privacy-work-phone{
  background-position:-5203px 0; width:11px; height:85px;
}
.lbl_CYAN-privacy-work-web{
  background-position:-5214px 0; width:11px; height:73px;
}
.lbl_CYAN-privacy-about{
  background-position:-5225px 0; width:11px; height:46px;
}