#wowslider-container$GallerySuffix$  .ws_thumbs { 
	font-size: 0px; 
	position:absolute;
	overflow:auto;
	z-index:70;
}
#wowslider-container$GallerySuffix$ .ws_thumbs a { 
	position:relative;
	text-indent: -4000px; 
	color:transparent;
	opacity:0.85;
}
#wowslider-container$GallerySuffix$ .ws_thumbs a:hover{
	opacity:1;
}
#wowslider-container$GallerySuffix$ .ws_thumbs a:hover img{
	visibility:visible;
}
